{
    "openapi": "3.0.1",
    "info": {
        "title": "Take App Platform",
        "description": "",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://take.app/api/platform/"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/me": {
            "get": {
                "description": "Get me",
                "responses": {
                    "200": {
                        "description": "Get store information from current api key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Me"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inventory": {
            "get": {
                "description": "Get all inventory",
                "responses": {
                    "200": {
                        "description": "Get all inventory in the store",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Inventory"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Update inventory",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Inventory"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Update inventory",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Inventory"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Inventory": {
                "required": ["item_id", "quantity"],
                "type": "object",
                "properties": {
                    "item_id": {
                        "description": "The id of product or variant",
                        "type": "string"
                    },
                    "quantity": {
                        "description": "The quantity of the item",
                        "type": "integer"
                    }
                }
            },
            "Me": {
                "required": ["id", "name"],
                "type": "object",
                "properties": {
                    "id": {
                        "description": "The id of the user",
                        "type": "string"
                    },
                    "name": {
                        "description": "The name of the user",
                        "type": "string"
                    },
                    "alias": {
                        "description": "The alias of the store",
                        "type": "string"
                    }
                }
            },
            "Error": {
                "required": ["error", "message"],
                "type": "object",
                "properties": {
                    "error": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "name": "api_key",
                "in": "query"
            }
        }
    }
}
