{
    "openapi": "3.0.1",
    "info": {
        "title": "Take App Platform",
        "description": "",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://take.app/api/platform/"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/me": {
            "get": {
                "description": "Get me",
                "responses": {
                    "200": {
                        "description": "Get store information from current api key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Me"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inventory": {
            "get": {
                "description": "Get all inventory",
                "responses": {
                    "200": {
                        "description": "Get all inventory in the store",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Inventory"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Update inventory",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Inventory"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Update inventory",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Inventory"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders": {
            "get": {
                "description": "Get all orders",
                "responses": {
                    "200": {
                        "description": "Get all orders in the store",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Order"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new order",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Order created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Order"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Update order status",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Order ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderEditInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Order updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Order"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/public/stores/{storeAlias}": {
            "post": {
                "description": "Create a draft order without authentication",
                "parameters": [
                    {
                        "name": "storeAlias",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Alias of the store"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SimpleOrderInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Draft order created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimpleOrderResponse"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        }
    },
    "components": {
        "schemas": {
            "Inventory": {
                "required": ["item_id", "quantity"],
                "type": "object",
                "properties": {
                    "item_id": {
                        "description": "The id of product or variant",
                        "type": "string"
                    },
                    "quantity": {
                        "description": "The quantity of the item",
                        "type": "integer"
                    },
                    "price": {
                        "description": "The price of the item",
                        "type": "number"
                    },
                    "original_price": {
                        "description": "The original price of the item",
                        "type": "number"
                    }
                }
            },
            "Me": {
                "required": ["id", "name"],
                "type": "object",
                "properties": {
                    "id": {
                        "description": "The id of the user",
                        "type": "string"
                    },
                    "name": {
                        "description": "The name of the user",
                        "type": "string"
                    },
                    "alias": {
                        "description": "The alias of the store",
                        "type": "string"
                    }
                }
            },
            "Error": {
                "required": ["error", "message"],
                "type": "object",
                "properties": {
                    "error": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "Customer": {
                "type": "object",
                "required": ["name", "phone"],
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Customer's name"
                    },
                    "phone": {
                        "type": "string",
                        "description": "Customer's phone number"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address"
                    }
                }
            },
            "OrderInput": {
                "type": "object",
                "required": ["customer_name", "customer_phone", "items", "total_amount"],
                "properties": {
                    "customer_name": {
                        "type": "string",
                        "description": "Customer's name"
                    },
                    "customer_phone": {
                        "type": "string",
                        "description": "Customer's phone number"
                    },
                    "customer_email": {
                        "type": "string",
                        "description": "Customer's email address"
                    },
                    "total_amount": {
                        "type": "string",
                        "description": "Total amount in human readable money format"
                    },
                    "remark": {
                        "type": "string",
                        "description": "Additional notes for the order"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderItem"
                        }
                    }
                }
            },
            "OrderItem": {
                "type": "object",
                "required": ["productId"],
                "properties": {
                    "productId": {
                        "type": "string",
                        "description": "ID of the product"
                    },
                    "quantity": {
                        "type": "integer",
                        "description": "Quantity of the product"
                    }
                }
            },
            "OrderStatus": {
                "type": "string",
                "enum": [
                    "ORDER_STATUS_PENDING",
                    "ORDER_STATUS_CONFIRMED",
                    "ORDER_STATUS_FULFILLED",
                    "ORDER_STATUS_CANCELLED"
                ],
                "description": "Note: ORDER_STATUS_FULFILLED is legacy and should be labeled as 'Completed' in UI"
            },
            "PaymentStatus": {
                "type": "string",
                "enum": [
                    "PAYMENT_STATUS_PENDING",
                    "PAYMENT_STATUS_CONFIRMING",
                    "PAYMENT_STATUS_PARTIAL",
                    "PAYMENT_STATUS_PAID",
                    "PAYMENT_STATUS_REFUNDED"
                ]
            },
            "FulfillmentStatus": {
                "type": "string",
                "enum": [
                    "UNFULFILLED",
                    "READY",
                    "OUT_FOR_DELIVERY",
                    "FULFILLED"
                ]
            },
            "Order": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "status": {
                        "$ref": "#/components/schemas/OrderStatus"
                    },
                    "paymentStatus": {
                        "$ref": "#/components/schemas/PaymentStatus"
                    },
                    "fulfillmentStatus": {
                        "$ref": "#/components/schemas/FulfillmentStatus"
                    },
                    "customer": {
                        "$ref": "#/components/schemas/Customer"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderItem"
                        }
                    },
                    "totalAmount": {
                        "type": "number",
                        "description": "Total amount in cents"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "OrderEditInput": {
                "type": "object",
                "description": "Input for updating order status",
                "properties": {
                    "status": {
                        "$ref": "#/components/schemas/OrderStatus"
                    },
                    "paymentStatus": {
                        "$ref": "#/components/schemas/PaymentStatus"
                    },
                    "fulfillmentStatus": {
                        "$ref": "#/components/schemas/FulfillmentStatus"
                    }
                }
            },
            "SimpleOrderOption": {
                "type": "object",
                "properties": {
                    "question": {
                        "type": "string"
                    },
                    "answer": {
                        "type": "string"
                    }
                }
            },
            "SimpleOrderItem": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "price": {
                        "type": "number"
                    },
                    "quantity": {
                        "type": "integer"
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimpleOrderOption"
                        }
                    }
                }
            },
            "SimpleOrderInput": {
                "type": "object",
                "required": ["items"],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimpleOrderItem"
                        }
                    },
                    "customer_name": {
                        "type": "string"
                    },
                    "customer_phone": {
                        "type": "string"
                    },
                    "customer_email": {
                        "type": "string",
                        "format": "email"
                    }
                }
            },
            "SimpleOrderResponse": {
                "type": "object",
                "properties": {
                    "checkout_url": {
                        "type": "string"
                    },
                    "order_id": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "name": "api_key",
                "in": "query"
            }
        }
    }
}
